@model IEnumerable<RoadTrip.Models.Traveler>

@{ ViewData["Title"] = "Index"; }

<h1 align="center">Master Trip List</h1>
<hr>
<p align="center">
    <a asp-action="Create">Create New Trip</a> - <a asp-action="Route">Routes & More</a> - <a asp-action="Compare">Compare Trip Cost</a> - <a asp-action="Miles">Compare Trip Mileage</a>
</p>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stops)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GasCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SnackCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emergency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetMonth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.From)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.To)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Distance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Stops)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GasCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SnackCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emergency)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TripCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MonthBudget)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BudgetMonth)
    </td>
    <td>
         |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>


   